.float_btn{
    float: right;
}

.action_holder{
    display: flex;
    grid-gap: 1rem;
}

.action_holder .btn{
    width: 3.5rem;
}

.success-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(30, 178, 30);
}