.hero{
    background-image: url('https://media.istockphoto.com/id/1341446055/vector/futuristic-concept-of-global-economics-suitable-for-world-financial-technology-economic.jpg?s=1024x1024&w=is&k=20&c=TnBEatsZCobB72X6S3YL_tGqjAcRBpSQHcoynvHXNVI=');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
}
.price{
    display:flex;
    flex-direction:row;
    grid-gap:2rem;
    margin-top:3rem;
}

.plan-card{
    width:50% !important;
    padding: 3rem;

    box-shadow: 0 0 8px gainsboro;
}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.deet-container{
    display: flex;
    flex-direction:column;
    grid-gap: 1.5rem;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 2rem;
}

.deets{
    display: flex;
    grid-gap: 1.4rem;
}

.plan-card .btn{
    width: 12rem;
}