
.actions{
    display: flex;
    grid-gap: 1rem;
}
/* .actions .btn{
    margin-left: 0.4rem ;
} */

@media(max-width:800px){
    .admin-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        grid-gap:1.5rem;
    }
    
    .users-table, .sites-table{
        width:100% !important;
    }   
}